@import "reset.css";

body {
    width: 100%;
    background-image: url('../images/shutterstock.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    line-height: normal;
    color: #ffffff;
}
.title,.text{
    font-family: Arial;
}
.text,.steps{
    font-size: 22px;
}
.title{
    margin:113px 0 61px 0;
    font-size: 60px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
}
.text{
    color: rgb(196, 198, 202);
    line-height: 1.636;
}
.wrapper{
    display: flex;
    flex-direction: column;
    padding: 57px 56px 30px 61px;
}
.step{
    font-size: 22px;
    font-family: "Arial";
    color: rgb(235, 236, 238);
    /*line-height: 2.727;*/
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}
.steps{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.marker{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #10a6de;
    box-shadow: 0px 20px 57px 0px rgba(5, 23, 34, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:14px;
}
.marker > span{
    color: #ffffff;
}
.info {
    background-color: rgb(28, 29, 30);
    opacity: 0.369;
    padding: 50px 81px;
    display: flex;
    justify-content: flex-start;
}
.info > span {
    font-size: 23px;
    color: rgb(215, 216, 218);
    text-transform: uppercase;
    line-height: 1.2;
}
.info > span:nth-child(2)::before,.info > span:nth-child(2)::after{
    content: '\25AA';
    color: #00b7f4;
}
.info > span:nth-child(2)::before {
    margin: 0 17px 0 6px;
}
.info > span:nth-child(2)::after {
    margin: 0 3px 0 20px;
}
.footer{
    margin: 55px 61px 30px;
}
.disclaimer{
    font-size: 14px;
    font-family: "Myriad Pro";
    color: rgb(163, 165, 165);
    line-height: 1.2;
    margin-bottom: 57px;
}
.copyright{
    font-size: 18px;
    font-family: "Myriad Pro";
    color: rgba(214, 215, 217, 0.529);
    line-height: 1.2;
    display: flex;
    align-items: center;
}
.footerLogo{
    margin-right: 16px;
}
.container {
    display: flex;
    justify-content: space-between;
}
.navigation{
    display: flex;
    align-items: center;
}
.navigationItem, .navigationItem:visited, .navigationItem:link{
    text-decoration: none;
    font-size: 18px;
    font-family: "Myriad Pro";
    color: rgba(214, 215, 217, 0.529);
    line-height: 1.2;
    margin-right: 40px;
}



