@import "reset.css";
@import "fonts.css";

body {
    width: 100%;
    background-image: url('../images/shutterstock.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    line-height: normal;
    color: #ffffff;
    position: relative;
}
.title,.text{
    font-family: Arial;
}
.text,.steps{
    font-size: 22px;
}
.title{
    margin:113px 0 61px 0;
    font-size: 60px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
}
.text{
    color: rgb(196, 198, 202);
    line-height: 1.636;
}
.wrapper{
    display: flex;
    padding: 57px 56px 30px 61px;
    justify-content: space-between;
}
.step{
    font-size: 22px;
    font-family: "ProximaNova-Regular";
    color: rgb(235, 236, 238);
    /*line-height: 2.727;*/
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}
.steps{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.marker{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #10a6de;
    box-shadow: 0px 20px 57px 0px rgba(5, 23, 34, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:14px;
}
.marker > span{
    color: #ffffff;
}
.info {
    background-color: rgb(28, 29, 30);
    opacity: 0.369;
    padding: 50px 81px;
    display: flex;
    justify-content: flex-start;
}
.info > span {
    font-size: 23px;
    color: rgb(215, 216, 218);
    text-transform: uppercase;
    line-height: 1.2;
    font-family: 'ProximaNova-Light';
}
.info > span:nth-child(2)::before,.info > span:nth-child(2)::after{
    content: '\25AA';
    color: #00b7f4;
}
.info > span:nth-child(2)::before {
    margin: 0 17px 0 6px;
}
.info > span:nth-child(2)::after {
    margin: 0 3px 0 20px;
}
.footer{
    margin: 55px 0 30px 61px ;
}
.disclaimer{
    font-size: 14px;
    font-family: 'ProximaNovaT-Thin';
    color: rgb(163, 165, 165);
    margin: 0 135px 57px 0;

}
.copyright{
    display: flex;
    align-items: center;
}
.copyright>h3{
    font-size: 18px;
    font-family: 'ProximaNova-Light';
    color: rgba(214, 215, 217, 0.529);
    line-height: 1.2;
}
.footerLogo{
    margin-right: 16px;
}
.container {
    display: flex;
    justify-content: space-between;
}
.navigation{
    display: flex;
    align-items: center;
}
.navigationItem, .navigationItem:visited, .navigationItem:link{
    text-decoration: none;
    font-size: 18px;
    font-family: 'ProximaNova-Light';
    color: rgba(214, 215, 217, 0.529);
    line-height: 1.2;
    margin-right: 40px;
}

.registerForm {
    border-radius: 4px;
    background-image: -moz-linear-gradient( 99deg, rgb(0,151,222) 0%, rgb(40,183,181) 100%);
    background-image: -webkit-linear-gradient( 99deg, rgb(0,151,222) 0%, rgb(40,183,181) 100%);
    background-image: -ms-linear-gradient( 99deg, rgb(0,151,222) 0%, rgb(40,183,181) 100%);
    box-shadow: 0px 20px 57px 0px rgba(5, 23, 34, 0.2);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 482px;
    height: 811px;
    position: relative;
}
.price {
    position: absolute;
    left:-96px;
    top:-18px;
}

.inputWrapper > input{
    margin-bottom: 50px;
    width: 362px;
    height: 52px;
    opacity: 0.902;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border:0;
    font-size: 18px;
    font-family: ProximaNova-Light;
}
.inputWrapper > input:focus{
    outline: none;
}
.inputWrapper > input:last-of-type {
    margin-bottom: 60px;
}

.formTitle{
    font-family: Arial;
    font-size: 22px;
    text-transform: uppercase;
    width: 272px;
    margin: 60px 0;
}

#submitButton{
    border-radius: 4px;
    background-color: rgb(253, 152, 63);
    box-shadow: 0px 20px 57px 0px rgba(3, 48, 65, 0.2);
    width: 267px;
    height: 86px;
    border: none;
    font-size: 24px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}
#submitButton:hover{
    background-color: firebrick;
    color: #ffffff;
    transition-delay: 0.2s;
}

.accept {
    font-size: 18px;
    font-family: "ProximaNova-Light";
    color: rgb(255, 255, 255);
    width: 257px;
    text-align: center;
    margin-top: 42px;
}

.accept>a{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.inputWrapper>label{
    font-family: "ProximaNova-Light";
    font-size: 13px;
    color: rgb(254, 255, 255);
    position: absolute;
    left: 0;
    top:-17px;
    display: none;
}
.inputWrapper{
    position: relative;
}
.error{
    color: red !important;
    font-size: 15px !important;
    font-weight: bold !important;
    top:-20px !important;
}
.content{
    width: 60%;
}
.generalWrapper{
    max-width: 1569px;
    margin: 0 auto;
}

@media screen and (max-width: 1125px){
    .wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .content{
        width:100% !important;
    }
    .title,.text{
        text-align: center;
    }
    .steps{
        align-items: center;
        margin-bottom: 61px;
    }
    .step{
        width: 472.94px;
    }
    .navigation{
        order:1;
        margin-bottom: 10px;
    }
    .copyright{
        order:2;
    }
    .container{
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .footer{
        margin: 0;
        padding: 20px;
    }
    .disclaimer{
        margin: 0 0 20px 0;
    }
}

@media screen and (max-width: 985px){
    .info{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .info > span{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 688px){
    .price{
        top: -110px;
        left: 304px;
    }
    .navigation{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .navigationItem{
        margin-bottom: 7px;
        margin-right: 0 !important;
    }
    .info{
        padding: 20px;
    }
    .info>span{
        font-size: 18px;
    }
    .wrapper{
        padding: 20px;
    }
    .title{
        font-size: 40px;
    }
    .container{
        flex-direction: row;
    }
}

@media screen and (max-width: 538px){
    .container{
        flex-direction: column;
    }
    .text, .step>span{
        font-size: 16px;
    }
    .registerForm{
        width: 400px;
    }
    .formInputs{
        width: 80%;
    }
    .price{
        height: 130px;
        width: 120px;
        top: -60px;
        left: 275px;
    }
    .formTitle{
        font-size: 18px;
        text-align: center;
    }
    .step{
        width: 100%;
    }
}

@media screen and (max-width: 447px){
    .registerForm{
        width: 320px;
        height: 650px;
    }
    .price{
        top: -60px;
        left: 190px;
    }
    .formInputs{
        width: 280px !important;
    }
    .inputWrapper > input:last-of-type{
        margin-bottom: 30px;
    }
    #submitButton{
        width: 200px;
        height: 70px;
    }
    body{
        min-width: 360px;
    }
    .accept{
        margin-bottom: 10px;
    }
    .info > span{
        font-size: 16px;
    }
}

